<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>JCConf_GAE_Workshop</servlet-name>
		<servlet-class>com.susufufu.workshop.jcconf2015.JCConf_GAE_WorkshopServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JCConf_GAE_Workshop</servlet-name>
		<url-pattern>/jcconf_gae_workshop</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DatastoreExample</servlet-name>
		<servlet-class>com.susufufu.workshop.jcconf2015.DatastoreExample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DatastoreExample</servlet-name>
		<url-pattern>/DatastoreExample</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DatastoreExample2</servlet-name>
		<servlet-class>com.susufufu.workshop.jcconf2015.DatastoreExample2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DatastoreExample2</servlet-name>
		<url-pattern>/DatastoreExample2</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Lab1</servlet-name>
		<servlet-class>com.susufufu.workshop.jcconf2015.Lab1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Lab1</servlet-name>
		<url-pattern>/lab1</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>QueueExample</servlet-name>
		<servlet-class>com.susufufu.workshop.jcconf2015.QueueExample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueueExample</servlet-name>
		<url-pattern>/QueueExample</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	
	
	<!-- direct /appstats requests to built-in appstats tool -->
	<servlet>
	  <servlet-name>appstats</servlet-name>
	  <servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>appstats</servlet-name> 
	  <url-pattern>/appstats/*</url-pattern>
	</servlet-mapping>
	
	<!-- appstats to record statistics/metrics for each request -->
	<filter>
	  <filter-name>appstats</filter-name>
	  <filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
	 </filter>
	<filter-mapping>
	  <filter-name>appstats</filter-name>  
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Security setting -->
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>


	
		
</web-app>
